body{
    width: 50%;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url("../img/background.jpeg");
}

main{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header{
    font-weight: bolder;
    text-align: center;
}

header > h1{
    font-size: x-large;
}

fieldset{
    box-shadow: 0 0 10px black;
    background-color: white;
    text-align: center;
}

fieldset > input {
    display: block;
    width: 100%;
    margin: 10px 0;
}

fieldset > input[type="submit"] {
    width: 50%;
    margin: 10px auto;
}


